# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
!*.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform.lock.hcl.bak
tfplan
*.tfplan

# Secrets / creds
*.pem
*.key
.env
.aws/
credentials

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
